.card{
    border: 2px solid #0b5ed7;
    border-radius: 10px;
}

.img{
    border-radius: 10px 10px 0 0;
}

.content{
    padding: 10px;
}

.badge{
    top: 1px;
    right: 2px;
    font-size: 17px;
 } 